* {
	font-family: 'IBM Plex Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #333;
	height: 100%;
}

ul {
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 5;
	list-style-type: none;
}

li {
	display:inline-block;
	cursor: pointer;
}

li a {
	font-size: 15px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
	border: 1px 10px 1px 1px solid black;
}

.bg {
	position: relative;
	background-image: url("images/img4.jpg");
	height: 95%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}

form {
	transition: 1s;
	width: 50%;
	z-index: 4;
	position: absolute;
	height: 100%;
	margin-left:25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=text] {
	outline: none;
	width: 100%;
	transition: 2s ease;
	color: #000;
	box-sizing: border-box;
	border: 3px solid #ccc;	
	border-radius: 4px;
	font-size: 17px;
	background-color: white;
	background-position: 10px 10px; 
	background-image: url('images/searchicon.png');
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

input[type=text]:focus {
	border: 3px solid #555;
}

.faixa {
	width: 100%;
	background-color: #333;
	opacity: 0.9;
	position: absolute;
	height: 50px;
	z-index: 1;
}


@media screen and (max-width: 284px) {
	span {
		display: none;
	}
}


@media screen and (min-width: 622px) {
	#nav2{
		display:none;
	}
}

@media screen and (max-width: 622px) {
	#nav {
		display: none;
	}

	form {
		width: 80%;
		margin-left: 10%;
	}

	.icon {
		font-size: 18px;
	}

	.items {
		display: none;
	}

	.center {
		height: 50%;
	}

	.items li {
		display: block;
	}

	.fa-brands {
		padding: 14px 10px;
		font-size: 18px;
	}

	li a {
		padding: 10px;
		font-size: 15px;
	}

	ul {
		opacity:0.9;
		background-color: #333;
	}

	.bg {
		height: 90%;
	}

	.faixa {
		display: none;
	}
}
	
