* {
	font-family: 'IBM Plex Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #333;
	height: 100%;
}

ul {
	opacity:0.9;
	background-color: #333;
	width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	list-style-type: none;
}

#nav, #nav2 {
	position: fixed;
}

li {
	display:inline-block;
	cursor: pointer;
}

li a {
	font-size: 15px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.fa-brands {
	font-size: 18px;
	padding-bottom: 17px;
}

.fa-solid {
	font-size: 18px;
	padding-bottom: 17px;
}

.fa-facebook:hover{
	color: blue;
}

.fa-envelope:hover{
	color: red;
}

.fa-instagram:hover{
	color: orange;
}

.fa-whatsapp:hover{
	color: green;
}


li a:hover {
	transition: 0.4s;
	background-color: #222;
}

form {
	width: 70%;
	position: absolute;
	height: 100%;
	margin-left:15%;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type=text] {
	outline: none;
	width: 80%;
	color: #000;
	box-sizing: border-box;
	font-size: 14px;
	background-color: white;
	border:none;
	padding: 12px 20px 12px 40px;
}

form button {
	float: right;
	width: 20%;
	padding: 9px;
	background: #848999;
	color: white;
	font-size: 17px;
	border: 1px solid gray;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
}
form button:hover{
	transition: 0.5s ease;
	background-color: #312433;
}

span {
	font-size: 14px;
}

.bg {
	position:fixed;
	position: relative;
	background-image: url("images/imgk.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

select {
	border-radius: 5px;
	height: 30px;
	margin: 0;
	width: 32.8%;
	font-size: 13px;
	cursor: pointer;
	outline: none;
	border: none;
	text-align: center;
	background-color: #555;
	color: white;
}

select:hover {
	background-color: #333;
	transition: 0.5s ease;
}

.destaques {
	width: 100%;
	height: auto;
	color: #fff;
}

.container {
	display: flex;
	justify-content: center;
}

h1 {
	color: #fff;
	font-weight: 700;
	margin-top: 30px;
	font-size: 25px;
	text-align: center;
}

.imovel {
	border-radius: 10px;
	text-align: center;
	background-color: #222;
	width: 80%;
	cursor: pointer;
	margin: 40px;
}

.imovel:hover {
	background-color: #333;
	transition: 0.5s ease;
	box-shadow: 2px 2px 5px black;
}

.imovel a {
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 0;
}

.sell {
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width: 100%;
	background-color: green;
}

.local {
	padding:10px;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.adress {
	font-size: 12px;
}

.adress span {
	margin-left: 0.5em;
}	

.fa-location-dot {
	margin: 0;
	font-size: 12px;
}

.price {
	font-weight: bold;
	font-size: 20px;
	text-align:center;
	width: 100%;
	background-color: #444;
}

.propertys {
	padding: 10px;
}

.propertys a{
	margin: 5px;
}

.propertys span{
	font-size: 10px;
	margin-left: 5px;
}

.imovel img {
	border-radius: 10px;
	padding: 0;
	width: 100%;
	height: 240px;
}

.contato {
	padding: 10px;
	background-color: #213123;
}

@media screen and (max-width: 326px) {
	.fa-brands span {
		display: none;
	}
}


@media screen and (min-width: 705px) {
	#nav2{
		display:none;
	}
	.container{
		display: flex;
	}	
}

@media screen and (max-width: 912px) {
	.imovel {
		width: 50%;
		margin-left: 25%;
	}
	.container {
		display: block;
	}
}
@media screen and (max-width: 704px) {
	input[type=text]{
		width: 60%;
		margin-top: 30%;
		margin-left: 10%;
	}
	form button {
		margin-top: 30%;
		margin-right: 10%;

	}



	select {
		margin-left: 10%;
		font-size: 14px;
		width: 80%;
		border-bottom: 3px solid #444;
	}

	#nav {
		display: none;
	}

	form {
		font-size: 10px;
		width: 90%;
		margin-left: 5%;
	}

	.icon {
		font-size: 18px;
	}

	.items {
		display: none;
	}

	.center {
		height: 50%;
	}

	.items li {
		display: block;
	}

	.fa-brands {
		padding: 14px 10px;
		font-size: 18px;
	}

	.fa-solid {
		padding: 14px 10px;
		font-size: 18px;
	}

	li a {
		padding: 10px;
		font-size: 15px;
	}

	ul #nav2{
		opacity:0.9;
		background-color: #333;
	}

	.bg {
		height: 100%;
	}
}
	@media screen and (max-width: 512px) {
	.imovel {
		width: 90%;
		margin-left: 5%;
	}
.container {
		display: block;
	}
}
